In [9]:
#pandas -unstructured data int0 structured data 
#a series in pandas is a dimensional array like obj that to a col in spreadsheet ar sql table
import pandas as pd
a=[1,3,5]
myvar= pd.Series(a)
print(a)
print(myvar) 
print('------------')
#label
print(myvar[0])
print('------------')
myvar2=pd.Series(a,index=["x","y","z"])
print(myvar2)
print('---------')
print(myvar2["y"])
calories={"day1": 420,"day2":380,"day3":390}
myvar=pd.Series(calories)
print(myvar)
print('------------')
a=pd.Series(calories,index=["day1","day2"])
print(a)
#series generated from scalar value
series=pd.Series(5,index=[0,1,2,3])
print(series)
print('------------')

[1, 3, 5]
0    1
1    3
2    5
dtype: int64
------------
1
------------
x    1
y    3
z    5
dtype: int64
---------
3
day1    420
day2    380
day3    390
dtype: int64
------------
day1    420
day2    380
dtype: int64
0    5
1    5
2    5
3    5
dtype: int64
------------

In [14]:
#in Series function first letter Sshould be capital
#series of int
int=pd.Series([1,2,3,4])
print(int)
print('------------')
#series of float
float=pd.Series([1.1,2.1,3.1])
print(float)
print('------------')
#string series
string=pd.Series(['a','b','c','d'])
print(string)
print('------------') 
#label based indexing
data={'a':10,'b':20,'c':30}
series=pd.Series(data)
print(series['a'])
print(series[['a','c']])
print('------------') 
#boolean indexing
data=[10,20,30,40,50]
series=pd.Series(data) 
print(series[series>30])
print('------------')

0    1
1    2
2    3
3    4
dtype: int64
------------
0    1.1
1    2.1
2    3.1
dtype: float64
------------
0    a
1    b
2    c
3    d
dtype: object
------------
10
a    10
c    30
dtype: int64
------------
3    40
4    50
dtype: int64
------------

In [19]:
#creating a data frame
data={ 'name':['Asin','samreen','summi'],
        'age':[20,25,30],
         'city':['Newyork','los angeles','chicago']
      }
df=pd.DataFrame(data)
print(df)
print('------------')
#selecting columns
print(df.name)
print(df['name'])
print(df[['name','city','age']])
print('------------------------------------')
#select single row by label
print(df.loc[0])
print(df.iloc[0])
#select multuple row by label
print(df.iloc[0:2])
print('------------------------------------')

      name  age         city
0     Asin   20      Newyork
1  samreen   25  los angeles
2    summi   30      chicago
------------
0       Asin
1    samreen
2      summi
Name: name, dtype: object
0       Asin
1    samreen
2      summi
Name: name, dtype: object
      name         city  age
0     Asin      Newyork   20
1  samreen  los angeles   25
2    summi      chicago   30
------------------------------------
name       Asin
age          20
city    Newyork
Name: 0, dtype: object
name       Asin
age          20
city    Newyork
Name: 0, dtype: object
      name  age         city
0     Asin   20      Newyork
1  samreen   25  los angeles
------------------------------------

In [20]:
data={ 'name':['Asin','samreen','summi'],
        'age':[20,25,30],
         'city':['Newyork','los angeles','chicago']

     }
df=pd.DataFrame(data)
#select rows where age is greatee than 25
print(df[df['age']>25])
print('------------------------------------')
print(df.loc[(df.name=='asin')&(df.city=='los angeles')])

    name  age     city
2  summi   30  chicago
------------------------------------
Empty DataFrame
Columns: [name, age, city]
Index: []

In [23]:
#groupby in pandas
# it is used to split the data in to group
data={ 'name':['Asin','samreen','summi','Asin','samreen'],
        'age':[20,25,30,20,25],
         'city':['Newyork','los angeles','chicago','Newyork','los angeles'],
         'salary':[70000,80000,90000,70000,80000]

     }
df=pd.DataFrame(data)
grouped=df.groupby('name')
print(grouped.groups)
#cal the sum of salaries for each group

salary_sum=grouped['salary'].sum()
print(salary_sum)
age_mean=grouped['age'].mean()
print(age_mean)
#grouping by multiple columns
#group by 'name'and 'city'
grouped_multiple=df.groupby(['name','city'])
#calculate sum of salaries gfor each group
salary_sum_multiple=grouped_multiple['salary'].sum()
print(salary_sum_multiple)

{'Asin': [0, 3], 'samreen': [1, 4], 'summi': [2]}
name
Asin       140000
samreen    160000
summi       90000
Name: salary, dtype: int64
name
Asin       20.0
samreen    25.0
summi      30.0
Name: age, dtype: float64
name     city
Asin     Newyork        140000
samreen  los angeles    160000
summi    chicago         90000
Name: salary, dtype: int64